:root{
    --mainColor: #46344E;
    --secondaryColor: #382a3f;

    --borderColor: #1d1520;
    
    --mainText: #fff;
    --secondaryText: #eeeeee;
}

html,body{
    padding:0;
    margin:0;
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6, strong{
    color: var(--mainText);
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
}

p, li, span{
    color: var(--secondaryText);
    font-family: 'Roboto Mono', monospace;
}

h1 {font-size: 44px;}
h2 {font-size: 24px;}
h3 {font-size: 28px;}
h4 {font-size: 24px;}
h5 {font-size: 20px;}
h6 {font-size: 16px;}

a{
    text-decoration: none;
    /*color: #17a2b8;*/
}

ul{
    list-style: none;
}

.s1{
    background-color: var(--mainColor);
    border-bottom: var(--borderColor);
    overflow: auto;
}

.s2{
    background-color: var(--secondaryColor);
    border-bottom: var(--borderColor);
    overflow: auto;
}

.main-container{
    width: 950px;
    margin: 0 auto;
}

.greeting-wrapper{
    display: grid;
    text-align: center;
    min-height: 5em;
    justify-content: center;
    align-content: center;
}

.intro-wrapper{
    background-color: var(--secondaryColor);
    border: 0.5px solid var(--borderColor);
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2.2em 20em;
    grid-template-areas: 
        'nav-wrapper nav-wrapper'
        'left-column right-column';
    border-radius: 5px 5px 0px 0px;
}

.nav-wrapper{
    grid-area: nav-wrapper;
    background-color: var(--mainColor);
    border-bottom: 1px solid var(--borderColor);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px 5px 0px 0px;
}

#navigation{
    margin: 0;
    padding-right: 10px;
}

#navigation li{
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
}

#navigation li a{
    color: var(--mainText);
}

.dot-wrapper{
    display: flex;
    padding: 10px;
}

#dot-1{
    background-color: #fc6058;
}

#dot-2{
    background-color: #fec02f;
}

#dot-3{
    background-color: #2aca35;
}

.browser-dot{
    height: 12px;
    width: 12px;
    border-radius: 50%;
    box-shadow: -1px 1px 3px -1px rgba(0,0,0,0.75);
    margin: 5px;
}

.left-column{
    grid-area: left-column;
    padding-top: 50px;
    padding-bottom: 50px;
}

#profile_pic{
    display: block;
    margin: 0 auto;
    height: 250px;
    width: 200px;
    object-fit: cover;
    border: 1px solid var(--borderColor);
}

.right-column{
    grid-area: right-column;
    color: var(--mainText);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
}

.resume-button{
    background-color: green;
    border:none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.resume-button a{
    color:#fff;
}

.skills{
    display: flex;
    justify-content: space-evenly;
    background-color: #2b202f;
    text-align: center;
}

.Contact-wrapper{
    background-color: #2b202f;
}

.Social-Media{
    display: flex;
    justify-content: center;
}

.Social-Media a{
    color: #eeeeee;
    padding: 10px;
    font-size: 30px;
}

.post-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fit, 320px);
    gap: 20px;
    justify-content: center;
}

.post{
    padding: 10px;
}

.thumbnail{
    display: block;
    height: 180px;
    width: 100%;
    object-fit: cover;
}

.Live-button{
    background-color: blueviolet;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.post-buttons{
    display: flex;
    justify-content: space-around;
}

.Live-button a{
    color: #fff;
}

@media screen and (max-width:1200px){
    .main-container{
        width: 95%;
    }
}

@media screen and (max-width:800px){
    .intro-wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'nav-wrapper'
            'left-column'
            'right-column';
    }
    .post-wrapper{
        grid-template-columns: 1fr;
    }
}